{% extends "base.html" %}

{% load staticfiles %}

{% block js %}
<script src="{% static '/Calculator/ratings_js.js' %}"></script>
{% endblock js %}


{% block content %}

<table class="sortable" style="margin-left:15px">
    <thead>
    <tr>

        <th scope="col">Nombre</th>
        <th scope="col">Equipo</th>
        <th scope="col">Base</th>
        <th scope="col">Base Def</th>
        <th scope="col">Base Ofe</th>
        <th scope="col">Escolta</th>
        <th scope="col">Escolta Def</th>
        <th scope="col">Escolta Ofe</th>
        <th scope="col">Alero</th>
        <th scope="col">Alero Def</th>
        <th scope="col">Alero Ofe</th>
        <th scope="col">Ala-pívot</th>
        <th scope="col">Ala-pívot Def</th>
        <th scope="col">Ala-pívot Ofe</th>
        <th scope="col">Pívot</th>
        <th scope="col">Pívot Def</th>
        <th scope="col">Pívot Ofe</th>
    </tr>

    </thead>
    {% for key, values in data.items %}
    <tr>
        <td>{{ values.name }}</td>
        <td>{{ values.team }}</td>
        <td>{{ values.B.total | floatformat }}</td>
        <td>{{ values.B_D.total | floatformat }}</td>
        <td>{{ values.B_O.total | floatformat }}</td>
        <td>{{ values.E.total | floatformat }}</td>
        <td>{{ values.E_D.total | floatformat }}</td>
        <td>{{ values.E_O.total | floatformat }}</td>
        <td>{{ values.A.total | floatformat }}</td>
        <td>{{ values.A_D.total | floatformat }}</td>
        <td>{{ values.A_O.total | floatformat }}</td>
        <td>{{ values.AP.total | floatformat }}</td>
        <td>{{ values.AP_D.total | floatformat }}</td>
        <td>{{ values.AP_O.total | floatformat }}</td>
        <td>{{ values.P.total | floatformat }}</td>
        <td>{{ values.P_D.total | floatformat }}</td>
        <td>{{ values.P_O.total | floatformat }}</td>
        <td>
            <button class="player" data-id="{{ key }}" data-toggle="modal" data-target="#{{ key }}-modal"><i
                    class="fa fa-search-plus"
                    style="color:#666B85; "></i></button>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}

{% block extrabody %}

{% for key, values in data.items %}
<div id="{{ key }}-modal" class="modal" role="dialog" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ values.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <table id="{{ key }}-table" class="sortable">
                    <thead>
                    <tr>

                        <th scope="col">Posición</th>
                        <th scope="col">Estilo</th>
                        <th scope="col">Total</th>
                        <th scope="col">Ataque</th>
                        <th scope="col">Defensa</th>
                        <th scope="col">Apoyo</th>

                    </tr>
                    </thead>
                    <tr>
                        <td>Base</td>
                        <td>{{ values.B.style }}</td>
                        <td>{{ values.B.total | floatformat}}</td>
                        <td>{{ values.B.offensive | floatformat}}</td>
                        <td>{{ values.B.defensive | floatformat}}</td>
                        <td>{{ values.B.support | floatformat}}</td>

                    </tr>
                    <tr>
                        <td>Escolta</td>
                        <td>{{ values.E.style }}</td>
                        <td>{{ values.E.total | floatformat}}</td>
                        <td>{{ values.E.offensive | floatformat}}</td>
                        <td>{{ values.E.defensive | floatformat}}</td>
                        <td>{{ values.E.support | floatformat}}</td>
                    </tr>
                    <tr>
                        <td>Alero</td>
                        <td>{{ values.A.style }}</td>
                        <td>{{ values.A.total | floatformat}}</td>
                        <td>{{ values.A.offensive | floatformat}}</td>
                        <td>{{ values.A.defensive | floatformat}}</td>
                        <td>{{ values.A.support | floatformat}}</td>
                    </tr>
                    <tr>
                        <td>Ala-pívot</td>
                        <td>{{ values.AP.style }}</td>
                        <td>{{ values.AP.total | floatformat}}</td>
                        <td>{{ values.AP.offensive | floatformat}}</td>
                        <td>{{ values.AP.defensive | floatformat}}</td>
                        <td>{{ values.AP.support | floatformat}}</td>
                    </tr>
                    <tr>
                        <td>Pívot</td>
                        <td>{{ values.P.style }}</td>
                        <td>{{ values.P.total | floatformat}}</td>
                        <td>{{ values.P.offensive | floatformat}}</td>
                        <td>{{ values.P.defensive | floatformat}}</td>
                        <td>{{ values.P.support | floatformat}}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock extrabody %}