{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div>
    <table class="table-responsive-md"
           style="margin-bottom:15px; margin-right:15px;display: inline-block;">
        <tr>
            <th scope="col">Record</th>
            <th scope="col">Jugador</th>
            <th scope="col">Año</th>
            <th scope="col">Puntuación</th>
        </tr>
        <tr>
            <td>Más partidos</td>
            <td>{{ greatest_seasons_players.max_games_player}}</td>
            <td>{{ greatest_seasons_players.max_games_season}}</td>
            <td>{{ greatest_seasons_players.max_games}}</td>
        </tr>
        <tr>
            <td>Más puntos</td>
            <td>{{ greatest_seasons_players.max_points_player}}</td>
            <td>{{ greatest_seasons_players.max_points_season}}</td>
            <td>{{ greatest_seasons_players.max_points}}</td>
        </tr>

        <tr>
            <td>Más asistencias</td>
            <td>{{ greatest_seasons_players.max_assists_player}}</td>
            <td>{{ greatest_seasons_players.max_assists_season}}</td>
            <td>{{ greatest_seasons_players.max_assists}}</td>
        </tr>

        <tr>
            <td>Más rebotes</td>
            <td>{{ greatest_seasons_players.max_rebounds_player}}</td>
            <td>{{ greatest_seasons_players.max_rebounds_season}}</td>
            <td>{{ greatest_seasons_players.max_rebounds}}</td>
        </tr>

        <tr>
            <td>Más rebotes def.</td>
            <td>{{ greatest_seasons_players.max_defensive_rebounds_player}}</td>
            <td>{{ greatest_seasons_players.max_defensive_rebounds_season}}</td>
            <td>{{ greatest_seasons_players.max_defensive_rebounds}}</td>
        </tr>
        <tr>
            <td>Más rebotes of.</td>
            <td>{{ greatest_seasons_players.max_offensive_rebounds_player}}</td>
            <td>{{ greatest_seasons_players.max_offensive_rebounds_season}}</td>
            <td>{{ greatest_seasons_players.max_offensive_rebounds}}</td>
        </tr>
        <tr>
            <td>Más robos</td>
            <td>{{ greatest_seasons_players.max_steals_player}}</td>
            <td>{{ greatest_seasons_players.max_steals_season}}</td>
            <td>{{ greatest_seasons_players.max_steals}}</td>
        </tr>
        <tr>
            <td>Más tapones</td>
            <td>{{ greatest_seasons_players.max_blocks_player}}</td>
            <td>{{ greatest_seasons_players.max_blocks_season}}</td>
            <td>{{ greatest_seasons_players.max_blocks}}</td>
        </tr>


    </table>

    <table class="table-responsive-md"
           style="margin-left:15px; margin-bottom:15px; margin-right:5px;float: left">
        <tr>
            <th scope="col">Record</th>
            <th scope="col">Jugador</th>
            <th scope="col">Puntuación</th>
        </tr>
        <tr>
            <td>Más partidos</td>
            <td>{{ all_history_greatests.max_games_player}}</td>
            <td>{{ all_history_greatests.max_games}}</td>
        </tr>
        <tr>
            <td>Más puntos</td>
            <td>{{ all_history_greatests.max_points_player}}</td>
            <td>{{ all_history_greatests.max_points}}</td>
        </tr>

        <tr>
            <td>Más asistencias</td>
            <td>{{ all_history_greatests.max_assists_player}}</td>
            <td>{{ all_history_greatests.max_assists}}</td>
        </tr>

        <tr>
            <td>Más rebotes</td>
            <td>{{ all_history_greatests.max_rebounds_player}}</td>
            <td>{{ all_history_greatests.max_rebounds}}</td>
        </tr>

        <tr>
            <td>Más rebotes def.</td>
            <td>{{ all_history_greatests.max_defensive_rebounds_player}}</td>
            <td>{{ all_history_greatests.max_defensive_rebounds}}</td>
        </tr>
        <tr>
            <td>Más rebotes of.</td>
            <td>{{ all_history_greatests.max_offensive_rebounds_player}}</td>
            <td>{{ all_history_greatests.max_offensive_rebounds}}</td>
        </tr>
        <tr>
            <td>Más robos</td>
            <td>{{ all_history_greatests.max_steals_player}}</td>
            <td>{{ all_history_greatests.max_steals}}</td>
        </tr>
        <tr>
            <td>Más tapones</td>
            <td>{{ all_history_greatests.max_blocks_player}}</td>
            <td>{{ all_history_greatests.max_blocks}}</td>
        </tr>


    </table>
</div>
<table class="sortable table-responsive-md"
       style="margin-left:15px; margin-bottom:15px; margin-right:15px;">
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Partidos</th>
        <th scope="col">Puntos</th>
        <th scope="col">Asistencias</th>
        <th scope="col">Rebotes</th>
        <th scope="col">Rebotes Defensivos</th>
        <th scope="col">Rebotes Ofensivos</th>
        <th scope="col">Robos</th>
        <th scope="col">Tapones</th>

    </tr>
    {% for t in total_all_players%}
    <tr>
        <td>{{ t.player__name }}</td>
        <td>{{ t.games__sum }}</td>
        <td>{{ t.points__sum }}</td>
        <td>{{ t.assists__sum }}</td>
        <td>{{ t.defensive_rebounds__sum | add:t.offensive_rebounds__sum }}</td>
        <td>{{ t.defensive_rebounds__sum }}</td>
        <td>{{ t.offensive_rebounds__sum }}</td>
        <td>{{ t.steals__sum }}</td>
        <td>{{ t.blocks__sum }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}