{% extends "base.html" %}

{% load staticfiles %}
{% block js %}
<script src="{% static '/Calculator/team_js.js' %}"></script>
{% endblock js %}
{% block content %}

<table style="margin-left:15px">
    <tr>

        <th scope="col">{{ total | floatformat }}</th>
        <th scope="col">Pos.</th>
        <th scope="col">Pos. Actual</th>
        <th scope="col">Equipo</th>
        <th scope="col">Exp.</th>
        <th scope="col">Estilo</th>
        <th scope="col">Total</th>
        <th scope="col">Ataque</th>
        <th scope="col">Defensa</th>
        <th scope="col">Apoyo</th>
        <th scope="col">Tiro</th>
        <th scope="col">Puntos</th>
    </tr>

    <tr>
        <td>{{ point_guard.name }}</td>
        <td class="position">B</td>
        <td>{{ point_guard.data.real_position }}</td>
        <td>{{ point_guard.data.team }}</td>
        <td>{{ point_guard.data.experience }}</td>
        <td>{{ point_guard.data.style }}</td>
        <td>{{ point_guard.data.total | floatformat }}</td>
        <td>{{ point_guard.data.offensive | floatformat }}</td>
        <td>{{ point_guard.data.defensive | floatformat }}</td>
        <td>{{ point_guard.data.support | floatformat }}</td>
        <td>{{ shoot_distribution.point_guard | floatformat }}</td>
        <td>{{ point_guard.data.points | floatformat }}</td>
    </tr>

    <tr>
        <td>{{ shooting_guard.name }}</td>
        <td class="position">E</td>
        <td>{{ shooting_guard.data.real_position }}</td>
        <td>{{ shooting_guard.data.team }}</td>
        <td>{{ shooting_guard.data.experience }}</td>
        <td>{{ shooting_guard.data.style }}</td>
        <td>{{ shooting_guard.data.total | floatformat }}</td>
        <td>{{ shooting_guard.data.offensive | floatformat }}</td>
        <td>{{ shooting_guard.data.defensive | floatformat }}</td>
        <td>{{ shooting_guard.data.support | floatformat }}</td>
        <td>{{ shoot_distribution.shooting_guard | floatformat }}</td>
        <td>{{ shooting_guard.data.points | floatformat }}</td>
    </tr>

    <tr>
        <td>{{ small_forward.name }}</td>
        <td class="position">A</td>
        <td>{{ small_forward.data.real_position }}</td>
        <td>{{ small_forward.data.team }}</td>
        <td>{{ small_forward.data.experience }}</td>
        <td>{{ small_forward.data.style }}</td>
        <td>{{ small_forward.data.total | floatformat }}</td>
        <td>{{ small_forward.data.offensive | floatformat }}</td>
        <td>{{ small_forward.data.defensive | floatformat }}</td>
        <td>{{ small_forward.data.support | floatformat }}</td>
        <td>{{ shoot_distribution.small_forward | floatformat }}</td>
        <td>{{ small_forward.data.points | floatformat }}</td>
    </tr>

    <tr>
        <td>{{ power_forward.name }}</td>
        <td class="position">AP</td>
        <td>{{ power_forward.data.real_position }}</td>
        <td>{{ power_forward.data.team }}</td>
        <td>{{ power_forward.data.experience }}</td>
        <td>{{ power_forward.data.style }}</td>
        <td>{{ power_forward.data.total | floatformat }}</td>
        <td>{{ power_forward.data.offensive | floatformat }}</td>
        <td>{{ power_forward.data.defensive | floatformat }}</td>
        <td>{{ power_forward.data.support | floatformat }}</td>
        <td>{{ shoot_distribution.power_forward | floatformat }}</td>
        <td>{{ power_forward.data.points | floatformat }}</td>

    </tr>

    <tr>
        <td>{{ center.name }}</td>
        <td class="position">P</td>
        <td>{{ center.data.real_position }}</td>
        <td>{{ center.data.team }}</td>
        <td>{{ center.data.experience }}</td>
        <td>{{ center.data.style }}</td>
        <td>{{ center.data.total | floatformat }}</td>
        <td>{{ center.data.offensive | floatformat }}</td>
        <td>{{ center.data.defensive | floatformat }}</td>
        <td>{{ center.data.support | floatformat }}</td>
        <td>{{ shoot_distribution.center | floatformat }}</td>
        <td>{{ center.data.points | floatformat }}</td>

    </tr>


    <tr>

        <th scope="col">{{ reserves.total | floatformat}}</th>
        <th scope="col">Pos.</th>
        <th scope="col">Pos. Actual</th>
        <th scope="col">Equipo</th>
        <th scope="col">Exp.</th>
        <th scope="col">Estilo</th>
        <th scope="col">Total</th>
        <th scope="col">Ataque</th>
        <th scope="col">Defensa</th>
        <th scope="col">Apoyo</th>
        <th scope="col">Tiro</th>
        <th scope="col">Puntos</th>


    </tr>

    <tr>
        <td>{{ reserves.point_guard.name }}</td>
        <td class="position">B</td>
        <td>{{ reserves.point_guard.data.real_position }}</td>
        <td>{{ reserves.point_guard.data.team }}</td>
        <td>{{ reserves.point_guard.data.experience }}</td>
        <td>{{ reserves.point_guard.data.style }}</td>
        <td>{{ reserves.point_guard.data.total | floatformat }}</td>
        <td>{{ reserves.point_guard.data.offensive | floatformat }}</td>
        <td>{{ reserves.point_guard.data.defensive | floatformat }}</td>
        <td>{{ reserves.point_guard.data.support | floatformat }}</td>
        <td>{{ shoot_distribution.res_point_guard | floatformat }}</td>
        <td>{{ reserves.point_guard.data.points | floatformat }}</td>

    </tr>

    <tr>
        <td>{{ reserves.shooting_guard.name }}</td>
        <td class="position">E</td>
        <td>{{ reserves.shooting_guard.data.real_position }}</td>
        <td>{{ reserves.shooting_guard.data.team }}</td>
        <td>{{ reserves.shooting_guard.data.experience }}</td>
        <td>{{ reserves.shooting_guard.data.style }}</td>
        <td>{{ reserves.shooting_guard.data.total | floatformat }}</td>
        <td>{{ reserves.shooting_guard.data.offensive | floatformat }}</td>
        <td>{{ reserves.shooting_guard.data.defensive | floatformat}}</td>
        <td>{{ reserves.shooting_guard.data.support | floatformat}}</td>
        <td>{{ shoot_distribution.res_shooting_guard | floatformat }}</td>
        <td>{{ reserves.shooting_guard.data.points | floatformat }}</td>

    </tr>

    <tr>
        <td>{{ reserves.small_forward.name }}</td>
        <td class="position">A</td>
        <td>{{ reserves.small_forward.data.real_position }}</td>
        <td>{{ reserves.small_forward.data.team }}</td>
        <td>{{ reserves.small_forward.data.experience }}</td>
        <td>{{ reserves.small_forward.data.style }}</td>
        <td>{{ reserves.small_forward.data.total | floatformat }}</td>
        <td>{{ reserves.small_forward.data.offensive | floatformat }}</td>
        <td>{{ reserves.small_forward.data.defensive | floatformat }}</td>
        <td>{{ reserves.small_forward.data.support | floatformat }}</td>
        <td>{{ shoot_distribution.res_small_forward | floatformat }}</td>
        <td>{{ reserves.small_forward.data.points | floatformat }}</td>

    </tr>

    <tr>
        <td>{{ reserves.power_forward.name }}</td>
        <td class="position">AP</td>
        <td>{{ reserves.power_forward.data.real_position }}</td>
        <td>{{ reserves.power_forward.data.team }}</td>
        <td>{{ reserves.power_forward.data.experience }}</td>
        <td>{{ reserves.power_forward.data.style }}</td>
        <td>{{ reserves.power_forward.data.total | floatformat }}</td>
        <td>{{ reserves.power_forward.data.offensive | floatformat }}</td>
        <td>{{ reserves.power_forward.data.defensive | floatformat}}</td>
        <td>{{ reserves.power_forward.data.support | floatformat}}</td>
        <td>{{ shoot_distribution.res_power_forward | floatformat }}</td>
        <td>{{ reserves.power_forward.data.points | floatformat }}</td>
    </tr>

    <tr>
        <td>{{ reserves.center.name }}</td>
        <td class="position">P</td>
        <td>{{ reserves.center.data.real_position }}</td>
        <td>{{ reserves.center.data.team }}</td>
        <td>{{ reserves.center.data.experience }}</td>
        <td>{{ reserves.center.data.style }}</td>
        <td>{{ reserves.center.data.total | floatformat }}</td>
        <td>{{ reserves.center.data.offensive | floatformat }}</td>
        <td>{{ reserves.center.data.defensive | floatformat}}</td>
        <td>{{ reserves.center.data.support | floatformat}}</td>
        <td>{{ shoot_distribution.res_center | floatformat }}</td>
        <td>{{ reserves.center.data.points | floatformat }}</td>
    </tr>

</table>
{% endblock %}