{% extends "base.html" %}

{% load staticfiles %}
{% block js %}
<script src="{% static '/Calculator/team_editor.js' %}"></script>
{% endblock js %}

{% block content %}

<table class="sortable table-responsive-md"
       style="margin-left:15px; margin-bottom:15px; margin-right:15px;">
    <tr>
        <th scope="col">Num.</th>
        <th scope="col">Nombre</th>
        <th scope="col">Pos</th>
        <th scope="col">T1</th>
        <th scope="col">T2</th>
        <th scope="col">T3</th>
        <th scope="col">Mate</th>
        <th scope="col">Rebote</th>
        <th scope="col">Tapón</th>
        <th scope="col">Pase</th>
        <th scope="col">Robo</th>
        <th scope="col">Exp</th>
        <th scope="col">Precio</th>
        <th scope="col">Edad</th>
        <th scope="col">Mot</th>
        <th scope="col">Activo</th>
        <th scope="col">Equipo</th>
        <th scope="col">Fichado</th>
        <th scope="col">Cedido</th>

    </tr>
    {% for p in players%}
    <tr>
        <td class="number">{{ p.favourite_number }}</td>
        <td class="name" contenteditable="true">{{ p.name }}</td>
        <td class="pos" contenteditable="true">{{ p.position.code }}</td>
        <td class="t1" contenteditable="true">{{ p.onePointShoot | floatformat }}</td>
        <td class="t2" contenteditable="true">{{ p.twoPointShoot | floatformat }}</td>
        <td class="t3" contenteditable="true">{{ p.threePointShoot | floatformat}}</td>
        <td class="dunk" contenteditable="true">{{ p.dunk | floatformat }}</td>
        <td class="rebound" contenteditable="true">{{ p.rebound | floatformat }}</td>
        <td class="block" contenteditable="true">{{ p.block | floatformat }}</td>
        <td class="passing" contenteditable="true">{{ p.passing | floatformat }}</td>
        <td class="steal" contenteditable="true">{{ p.steal | floatformat }}</td>
        <td class="exp" contenteditable="true">{{ p.experience | floatformat }}</td>
        <td class="price" contenteditable="true">{{ p.price | floatformat }}</td>
        <td class="age" contenteditable="true">{{ p.age | floatformat }}</td>
        <td class="motivated"><input type="checkbox"
                                     {% if p.motivated == True %}
                                     checked
                                     {% endif %}></td>
        <td class="enabled"><input type="checkbox"
                                     {% if p.enabled == True %}
                                     checked
                                     {% endif %}></td>
        <td class="team" contenteditable="true">{% if p.team != None %}{{ p.team }}{% endif %}</td>
        <td class="signed" contenteditable="true">{% if p.signed != None %}{{ p.signed }}{% endif %}</td>
        <td class="loaned" contenteditable="true">{% if p.loaned != None %}{{ p.loaned }}{% endif %}</td>
        <td>
            <button class="player" data-id="{{ p.id }}"><i
                    class="fa fa-save"
                    style="color:#666B85; "></i></button>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td class="number">0</td>
        <td class="name" contenteditable="true"></td>
        <td class="pos" contenteditable="true"></td>
        <td class="t1" contenteditable="true"></td>
        <td class="t2" contenteditable="true"></td>
        <td class="t3" contenteditable="true"></td>
        <td class="dunk" contenteditable="true"></td>
        <td class="rebound" contenteditable="true"></td>
        <td class="block" contenteditable="true"></td>
        <td class="passing" contenteditable="true"></td>
        <td class="steal" contenteditable="true"></td>
        <td class="exp" contenteditable="true"></td>
        <td class="price" contenteditable="true"></td>
        <td class="age" contenteditable="true"></td>
        <td class="motivated"><input type="checkbox" checked></td>
        <td class="enabled"><input type="checkbox" checked></td>
        <td class="team" contenteditable="true">{{ team }}</td>
        <td class="signed" contenteditable="true"></td>
        <td class="loaned" contenteditable="true"></td>
        <td>
            <button class="add_player"><i
                    class="fa fa-plus"
                    style="color:#666B85; "></i></button>
        </td>
    </tr>
</table>
{% endblock %}