{% load staticfiles %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <title>FDF Project</title>
    <meta name="description" content="">

    <script src="{% static '/Calculator/sorttable.js' %}"></script>
    <script type="text/javascript" src="{% static '/Calculator/csrf.js' %}"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'Calculator/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Calculator/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Calculator/navigation-bar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    {% block base_js %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    {% endblock base_js %}

    {% block js %}
    {% endblock js %}


</head>


<body>
<ul>
    <h2>FDF CALCULATOR</h2>

    <li><a href="/statistics">Estadísticas</a></li>
    <li><a href="/market">Market</a></li>
    <li><a href="/roster_editor/{{ team_url }}">Editor</a></li>
    <li><a href="/roster_potential/{{ team_url }}">Potencial</a></li>
    <li><a href="/roster_current/{{ team_url }}">Actual</a></li>
    <li><a href="/market_team/">Alineación Mercado</a></li>
    <li><a href="/potential_team/{{ team_url }}">Alineación Potencial</a></li>
    <li><a href="/redistribute_team/{{ team_url }}">Reposicionar</a></li>
    <li><a href="/current_team/{{ team_url }}">Alineación</a></li>
    <li><a href="/match/{{ team_url }}">Partido</a></li>

</ul>


{% block content %}
{% endblock content %}

{% block extrabody %} {% endblock extrabody %}

<div class='success_dialog' style='display:none'>Acción realizada con éxito.</div>
</body>


</html>


