li a:hover {
    background-color: #343a45;
    color: white;
    text-decoration: none;
}

.success_dialog {
    width:200px;
    height:20px;
    height:auto;
    position:absolute;
    left:50%;
    bottom: 10%;
    margin-left:-100px;
    background-color: #98FB98;
    color: #008000;
    border-color: #008000
    font-family: Calibri;
    font-size: 15px;
    padding:10px;
    text-align:center;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}